<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<h1>TEST</h1>
<table>
    <thead>
    <tr>
        <th><abbr title="ID">ID</abbr></th>
        <th>Nom</th>
    </tr>
    </thead>
    <tbody>
    {% for f in faction %}
    <tr>
        <th>{{f.id}}</th>
        <td>{{f.Nom}}</td>
        <td><a href="/fh/details/{{f.id}}/">Détails</a>
        <td>
        <td><a href="/fh/update/{{f.id}}/">Modifier</a>
        <td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<li><a href="http://127.0.0.1:8000/ajout/">ajouter une faction </a></li>

</body>
</html>