{% extends "fh/main.html" %}
{% block title %}
Index du site
{% endblock %}
{% block content %}
<h1>Liste des factions</h1>
<table>
    <thead>
    <tr>
        <th><abbr title="ID">ID</abbr></th>
        <th>Image</th>
        <th>Nom</th>
    </tr>
    </thead>
    <tbody>
    {% for f in faction %}
    <tr>
        <th>{{f.id}}</th>
        {% if f.faction_image %}
        <td><img src="{{ f.faction_image.url}}" width="200"></td>
        {% endif %}
        <td>{{f.Nom}}</td>
        <td><a href="/fh/details/{{f.id}}/">Détails</a></td>
        <td><a href="/fh/update/{{f.id}}/">Modifier</a></td>
        <td><a href="/fh/delete/{{f.id}}/">Supprimer</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<li><a href="http://127.0.0.1:8000/ajout/">ajouter une faction </a></li>
<li><a href="http://127.0.0.1:8000/index_hero/">liste de tout les heros </a></li>
{% endblock %}
