@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
html{
    font-family: 'Anonymous Pro', monospace;
    font-size: 110%;
}
a{
	text-decoration: none;
	color: black;
	background-color: rgba(176, 189, 169, 0.481);
	border-radius: 25px;
	margin-top: 1%;

}
a:hover{ /*change la couleur et la police du text lorsque l'on pas la souris dessus*/
	color:green;
	font-size:110%/*change la taile du text*/
}
h1{
	font-size: 200%;
	background-color: rgba(176, 189, 169, 0.481);
	border-radius: 25px;
	display: flex;
	margin-right: 78%;
	padding: 1%;
}